<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Lero9_WordpressPostTabs::wordpress" title="Wordpress" sortOrder="10" >
                        <resource id="Lero9_WordpressPostTabs::tabs" title="Post Tabs" sortOrder="40">
                            
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>